@font-face {
	font-family: "Vollkorn-Bold";
	src: url("fonts/Vollkorn/Vollkorn-Bold.ttf");
}

@font-face {
	font-family: "Roboto_Mono";
	src: url("fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}

@font-face {
	font-family: "manrope-semibold";
	src: url("fonts/manrope/fonts/ttf/manrope-semibold.ttf");
}

@font-face {
	font-family: "manrope-medium";
	src: url("fonts/manrope/fonts/ttf/manrope-medium.ttf");
}

html {
	background-color: #8AC0FF;
}

body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

#header {
	padding-top: 20px;
}

.menu-nav-bar {
	border-bottom: 1px solid black;
}

#logotype {
	font-family: "Vollkorn-Bold";
	font-size: 40px;
	color: #000000;
	text-decoration: none;
}

.menu-bar {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #ffffff;
}

#menu-brand {
	float: left;
}

.menu-item {
	float: right;
}

.menu-link {
	text-decoration: none;
	font-size: 20px;
	font-family: "Roboto_Mono";
	display: block;
  	color: #000000;
  	text-align: center;
  	padding: 14px 16px;
}

.menu-link:hover {
	text-decoration: none;
	color: #00229A;
}

.menu-link:active {
	text-decoration: none;
	color: #0038FF;
}

#about {
	background-image: url('assets/Confetti.jpg');
	background-size: contain;
	background-attachment: fixed;
	text-align: center;
}

#about-content {
	width: 90%;
	display:inline-flex;
  	/*flex-direction: column;*/
  	flex-wrap:wrap;
  	justify-content:space-around;
  	padding-top: 10%;
  	padding-bottom: 10%;
}

#thomas-intro {
	font-family: "manrope-semibold";
	font-size: 24px;
	color: #000000;
	float: left;
	margin-top: 5%;
	text-align: center;
}

#thomas-headshot {
	float: left;
	width: 200px;
	height: 200px;
}

#work {

}

#portfolio {

}

#footer {
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: #8AC0FF;
}

#footer-text {
	padding-top: 3%;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right: 1%;
	font-family: "manrope-medium";
	font-size: 14px;
	color: #000000;
}

a {
	color: black;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
}

/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {
	font-size: 32px;
	color: #eeeeee;
	text-decoration: underline;
}
#heading {
	height: 10%;
	width: 100%;
	background-color: #000000;
	font-size: 45px;
	font-family: 'Quicksand';
	color: #ffffff;
	background-size: 100%;
	padding: 5%;
}

.menuButton {
	background-color: none;
	font-size: 25px;
	font-family: 'Quicksand';
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.menuButton:hover {
	color: #999999;
}

#contact {
	border-right: none;
}

#content {
	height: 50%;
	width: 100%;
	background-color: #000000;
	font-size: 72px;
	font-family: 'Quicksand';
	color: #ffffff;
	background-size: 100%;
	display: inline-block;
	height: 100%;
	position: absolute;
	width: 100%;
}

#about {
	width: 100%;
	background-color: #000000;
	background-image: url("Lights.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 25px;
	font-family: 'Quicksand';
}

#footer {
	height: 50%;
	width: 100%;
	background-color: #dddddd;
}

#Main {
	height: 40%;
	width: 100%;
}

.typer {
	font-family: 'Quicksand';
	font-size: 25px;
	width: 50%;
	margin: auto;
	padding-left: 5%;
}
*/
